/* Variáveis declaradas aqui - estas são as cores de nossas páginas, bem como as fontes. */
:root {
  --black: #2E2642;
  --white: #D2D2D4;

  --azul: #61B8FF;
  --azul-m: #44A4F2;
  --azul-escuro: #1E69A6;
  --laranja: #F2AE44;
  --terra: #A66A0D;

  --font-size: 1.3rem;

  --mono: "IBM Plex Mono", monospace;
  --sans: "IBM Plex Sans", sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* padrão generica para toda a página */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--terra);
}

a:hover {
  color: var(--laranja);
  text-decoration: none;
}

.divisor {
  background: linear-gradient(90deg, hsla(207, 100%, 69%, 1) 0%, hsla(238, 82%, 70%, 1) 100%);
  height: 2px;
}

/* Estilo da introdução */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  padding-bottom: 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--azul);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/* Navegação */
nav h1 a {
  font-family: var(--sans);
}

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 4rem 1rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
    font-size: 150%;
    color: var(--azul);
}
nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--azul);
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--azul-m);
}

.button {
    background-color: var(--azul);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: white;
    background-color: var(--azul-escuro);
}

/* Projetos section */
img {
  width: 100%;
}

.section-projetos {
    background-color: var(--azul-escuro);
}

#projetos {
    padding: 4rem 1rem;
}

#projetos h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#projetos h3 {
    color: var(--laranja);
}

#projetos h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}

.blackbox {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
}

#projetos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

#projetos img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 1px solid var(--laranja);
    border-top: 1px solid var(--laranja);
    border-radius: 25px;
}

/* contato section */
.section-contato {
    background-color: var(--terra);
}

#contato {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;
}

#contato p:last-child {
    margin-top: 3rem;
}

/* footer parte */
footer {
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}

@media (min-width: 800px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }
    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }

    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    #projetos {
        max-width: 1200px;
        margin: 0 auto;
    }
    #projetos img {
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }
    #projetos ul {
        justify-content: flex-end;
    }
    #projetos .reverse .text {
        grid-column: 1/7;
        order: 2;
        text-align: left;
    }
    #projetos .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
    }
    #projetos .reverse ul {
        justify-content: flex-start;
    }
}
