/* Variáveis declaradas aqui - estas são as cores de nossas páginas, bem como as fontes. */
:root {
  --black: #2E2642;
  --white: #D2D2D4;

  --azul: #61B8FF;
  --azul-m: #44A4F2;
  --azul-escuro: #1E69A6;
  --laranja: #F2AE44;
  --terra: #A66A0D;

  --font-size: 1.3rem;

  --mono: "IBM Plex Mono", monospace;
  --sans: "IBM Plex Sans", sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* padrão generica para toda a página */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--terra);
}

a:hover {
  color: var(--laranja);
  text-decoration: none;
}

.divisor {
  background: linear-gradient(90deg, hsla(207, 100%, 69%, 1) 0%, hsla(238, 82%, 70%, 1) 100%);
  height: 2px;
}

/* Estilo da introdução */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  padding-bottom: 10rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intor p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--azul);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

/* Navegacão */
nav h1 a {
  font-family: var(--sans);
}

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 4rem 1rem;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav [class*="fa-"] {
    font-size: 150%;
    color: var(--azul);
}
nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--azul);
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--azul-m);
}

.button {
    background-color: var(--azul);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: white;
    background-color: var(--azul-escuro);
}

/* footer parte */

footer {
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}
